{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.last_name }}, {{author.first_name}}</h1>
  <p>{{author.date_of_birth}} - {{author.date_of_death}}</p>

  <div style="margin-left:20px;margin-top:20px">
  <h4><strong>Books:</strong></h4>

  {% for aBook in object.book_set.all %}

  <p><strong><a href="{% url 'book-detail' aBook.pk %}">{{ aBook.title }}</a></strong></p>
  <p>{{ aBook.summary }}</p>

  {% endfor %}

  </div>

  <div>
    <ul>
      <li><a href="{% url 'author-update' author.pk %}">Author Update</a></li>
      <li><a href="{% url 'author-delete' author.pk %}">Author Delete</a></li>
    </ul>
  </div>
{% endblock %}
